/.vscode
/01.py
/CommonElements.py
/fibonacci.py
/integerchange.py
/listTO dict.py
/multiplication.py
/output
/SOrted.elem.py
/taking_input.py
/TRY.JS
/try1.c
/tupletodict.py
/tur.py
/Turtle.py
/while.py
/__pycache__